.boxborder {
  position: absolute;
  top: 20px;
  left: -20px;
  width: 800px;
  height: 533px;
  border: 4px solid black;
}

.descriptionBox{
  width: 610px;
}

.fontDescription {
  font-family: "Overpass";
  font-weight: 400;
  font-size: 23px;
}

.fontAboutMe {
  font-family: "Syne";
  font-size: 78px;
  font-weight: 800;
}

img {
  height: 533px;
}
