.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 104px;
}

.font{
    font-family: 'Overpass';
    font-size: 16px;
    font-weight: 900;
    margin-top: 8px;
}