<div
  class=" mb-5"
  (mouseenter)="showDescription()"
  (mouseleave)="hideDescription()"
>
  <div class="position-relative d-flex justify-content-between w-100 mediaBox">
    <div class="w-50 order3">
      <span class="fontNumbers">01/04</span>
      <div [style.opacity]="slide ? '1' : '0'" class="descriptionContainer">
        <span class="fontHeadline">Join</span>
        <span class="fontLanguage">JavaScript | HTML | CSS</span>
        <span class="fontDescription"
          >Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </span>
      </div>
    </div>
    <div class="w-50 imgContainer order2">
      <img
        [style]="{
          filter: slide ? 'grayscale(0)' : 'grayscale(1)',
          transform: slide ? 'scale(1.1)' : 'scale(1)',
          transition: 'transform 300ms'
        }"
        src="./assets/img/project/join.png"
      />
    </div>
    <div [style.opacity]="slide ? '1' : '0'" class="imgBorderLeft"></div>
    <img
      [style.opacity]="slide ? '1' : '0'"
      [class.arrowRotateLeft]="slide"
      class="position-absolute arrow"
      src="./assets/img/arrow.png"
    />
    <div
      [class.showDescriptionLeft]="slide"
      class="position-absolute bottom-0 d-flex mb-2 gap-5 buttonSlideLeft"
    >
      <a
        class="buttonHover"
        href="https://github.com/HassSebastian/Join-privat-Abgabe"
        target="_blank"
        >GitHub</a
      >
      <div class="buttonHover">Live</div>
    </div>
  </div>
</div>
