.imgHover {
  padding: 20px 0;
  &:hover {
    cursor: pointer;
    transition: 200ms ease;
    transform: translateY(-10px);
  }
}

.LegalNotice {
  color: white;
  cursor: pointer;
  &:hover{
    transition: 200ms;
    transform: scale(1.2);
  }
}

