<div
  style="
    position: fixed;
    top: 92px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fffcf3;
    z-index: 3;
  "
>
  <div class="d-flex justify-content-center border">
    <div
      class="d-flex flex-column align-items-center border mt-1 gap-2"
      style="width: 540px"
    >
      <div class="text-center border w-100">
        <span class="respoMenuFont">About me</span>
      </div>
      <div class="text-center border w-100">
        <span class="respoMenuFont">My skills</span>
      </div>
      <div class="text-center border w-100">
        <span class="respoMenuFont">Portfolio</span>
      </div>
      <div class="text-center border w-100">
        <span class="respoMenuFont">Message</span>
      </div>
    </div>
  </div>
</div>
