<span
  class="fontHover contentBox"
  style="
    position: relative;
    top: -100px;
    font-family: 'Syne';
    font-size: 78px;
    font-weight: 900;
    color: white;
  "
  >Say Hi!</span
>
<span
  class="d-flex justify-content-center mb-3"
  style="
    font-family: 'Overpass';
    font-size: 32px;
    font-weight: 500;
    color: #ff9900;
  "
  >Want to discuss a new project?</span
>
<span
  class="d-flex justify-content-center text-white mb-5"
  style="font-family: 'Overpass'; font-size: 23px; font-weight: 400"
  >Say hello! let's discuss your ideas and make it happen</span
>
