<div class="w-100">
  <div
    class="border text-start"
    style="font-family: 'Syne'; font-size: 48px; font-weight: 700"
  >
    <span>03/04</span>
  </div>

  <div class="d-flex justify-content-end border">
    <div class="descriptionContainer">
      <span class="fontHeadline">El Pollo Loco</span>
      <span class="fontLanguage">JavaScript | HTML | CSS</span>
      <span class="fontDescription"
        >Javascript-based and object-orientated jump & and run game. Help Pepe
        save the village from El Pollo Loco!</span
      >
      <div class="d-flex gap-5">
        <div
          class="buttonHover"
        >
          GitHub
        </div>
        <div
          class="buttonHover"
        >
          Live
        </div>
      </div>
    </div>
    <img
      style="width: 50%; aspect-ratio: 1.6/1"
      src="./assets/img/project/el-pollo-start.png"
      (mouseenter)="showImage = true"
      (mouseleave)="showImage = false"
    />
  </div>
</div>
