<div
  class="d-flex flex-column justify-content-center z-n1"
  style="padding-top: 92px"
>
  <span
    style="
      position: absolute;
      rotate: 270deg;
      width: fit-content;
      margin-left: -90px;
      margin-top: -60px;
      cursor: pointer;
      font-size: 23px;
      font-family: 'Overpass';
      font-weight: 400;
    "
  >
    sebastian.hass76@gmail.com
  </span>
  <div class="d-flex flex-column text-center">
    <span style="font-size: 128px; font-weight: 800; font-family: 'Syne'"
      >Frontend</span
    >
    <span style="font-size: 128px; font-weight: 800; font-family: 'Syne'"
      >Developer
    </span>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <div class="bg-black me-2" style="width: 628px; height: 3px"></div>
    <span
      style="
        font-size: 48px;
        font-family: 'Overpass';
        font-weight: 800;
        color: #ff9900;
      "
      >Sebastian Haß</span
    >
  </div>
</div>
